/** General tags **/
button {
  all: unset;
}

.draggable {
  height: 100%;
}
/** Global Color **/
.blue {
  border-color: #1EAADE !important;
  color: #1EAADE!important;
}

.purple {
  border-color: #A165D6 !important;
  color: #A165D6!important;
}

.green {
  border-color: #2BB131 !important;
  color: #2BB131!important;
}

.orange {
  border-color: #F7C35E !important;
  color: #F7C35E!important;
}

